html
  head
    title User List
    style
      include style.css
  body
    h1(class="center") Users
    button(onclick="addUser()") Add Users
    table
      tr
        th User Id
        th User Name
        th Name
        th Email
        th Age
      each user in dataSet
        tr
          each val in user
            td #{val}
          td(style="display: flex")
            div(style='padding: 10px')
              button(onclick=`editClick(${user.userId})`) Edit
            form(id="deleteButton", method='post', action='/user')
              input(type='hidden', name="button", value="delete")
              input(type='hidden', name="userId", value=user.userId)
              button(type="submit", style="background-color:#bb0505") Delete
      else
        tr
          td(colspan="5", style="text-align: center") There are no users

script.
    function editClick(userId) {
        window.location.href = '/edit/' + userId
    }
    function addUser() {
        window.location.href = '/'
    }
    // function deleteClick() {
    //     $.ajax(
    //         {
    //             url: "/user",
    //             type: "GET"
    //         });
    // }
    // function deleteClick() {
    //     window.location.href = '/user'
    // }

